<!DOCTYPE>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
    <title>Crypto Sim | Crypto Exchange</title>
    <script type="text/javascript" src="../../static/js/buy-sell.js" th:src="@{/js/buy-sell.js}"></script>
</head>

<header th:replace="fragments/header :: header"></header>

<body>

<!--@thymesVar id="btc" type="com.crypto.investment.sim.model.Coin"-->
<!--@thymesVar id="eth" type="com.crypto.investment.sim.model.Coin"-->
<!--@thymesVar id="ada" type="com.crypto.investment.sim.model.Coin"-->
<!--@thymesVar id="eur" type="com.crypto.investment.sim.model.Coin"-->
<!--@thymesVar id="usd" type="com.crypto.investment.sim.model.Coin"-->
<input type="hidden" id="btc-value" th:value="${btc.getCurrentPrice()}">
<input type="hidden" id="eth-value" th:value="${eth.getCurrentPrice()}">
<input type="hidden" id="ada-value" th:value="${ada.getCurrentPrice()}">
<input type="hidden" id="eur-value" th:value="${eur.getCurrentPrice()}">
<input type="hidden" id="usd-value" th:value="${usd.getCurrentPrice()}">

<!--@thymesVar id="user" type="com.crypto.investment.sim.model.User"-->
<input type="hidden" id="gbp_available" th:value="${user.GBP}">
<input type="hidden" id="usd_available" th:value="${user.USD}">
<input type="hidden" id="eur_available" th:value="${user.EUR}">
<input type="hidden" id="btc_available" th:value="${user.BTC}">
<input type="hidden" id="eth_available" th:value="${user.ETH}">
<input type="hidden" id="ada_available" th:value="${user.ADA}">


<div class="container mb-5">

    <div class="row my-3">
        <div th:class="'p-3 w-100 col-lg-12 ' + ${bannerColor} + ' alert alert-dismissible fade '+ ${hidden}"
             role="alert">
            <span><i th:text="${message}"></i></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12">
            <h1>Buy or exchange crypto</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12">
            <h2>Exchange rate calculator:</h2>
            <p>Select Currency</p>
            <button id="poundBtn" class="btn btn-outline-primary">&#163;</button> <!--£-->
            <button id="dollarBtn" class="btn btn-outline-primary">$</button> <!--$-->
            <button id="euroBtn" class="btn btn-outline-primary">&#8364;</button> <!--€-->
            <input type="hidden" id="selected-fiat" value="GBP">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <h4 id="calculator-input-title">Value in £</h4>
            <label id="currencyLabel" for="currency"></label>
            <div class="input-group">
                <span id="currency-symbol" class="input-group-text">£</span>
                <input id="currency" placeholder="£" value="1" type="number" class="form-control"
                       aria-describedby="currency-symbol">
            </div>

        </div>
        <div class="col-6">
            <h4>Amount in crypto is:</h4>
            <p id="BTC-calculator"></p>
            <p id="ETH-calculator"></p>
            <p id="ADA-calculator"></p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-sm-6 mb-3 mb-sm-0">
            <div class="card h-100">
                <div class="card-body">
                    <h2>Your fiat assets</h2>
                    <!--@thymesVar id="user" type="com.crypto.investment.sim.model.User"-->
                    <p th:text="'GBP: '+${user.GBP}"></p>
                    <p th:text="'USD: '+${user.USD}"></p>
                    <p th:text="'EUR: '+${user.EUR}"></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2>Your crypto assets</h2>
                    <p th:text="'BTC: '+${user.BTC}"></p>
                    <p th:text="'ETH: '+${user.ETH}"></p>
                    <p th:text="'ADA: '+${user.ADA}"></p>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/convertRequest}" th:object="${buySellData}" method="post">
        <div class="row mb-5">
            <div class="col-12 mb-1">
                <h3>Step 1 - Choose what you are converting</h3>
            </div>
            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                <div class="card h-100">
                    <div class="card-body">
                        <label class="mb-2" for="convertFrom">I want to convert:</label>
                        <select name="convertFrom" th:field="*{convertFrom}" id="convertFrom" class="form-control">
                            <option value="GBP">GBP (pound)</option>
                            <option value="USD">USD (dollar)</option>
                            <option value="EUR">EUR (euro)</option>
                            <option value="BTC">BTC (bitcoin)</option>
                            <option value="ETH">ETH (ethereum)</option>
                            <option value="ADA">ADA (cardano)</option>
                        </select>
                        <span th:if="${#fields.hasErrors('convertFrom')}" th:errors="*{convertFrom}" class="text-error"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <label class="mb-2" for="convertTo">Into:</label>
                        <select name="convertTo" th:field="*{convertTo}" id="convertTo" class="form-control">
                            <option value="GBP">GBP (pound)</option>
                            <option value="USD">USD (dollar)</option>
                            <option value="EUR">EUR (euro)</option>
                            <option value="BTC">BTC (bitcoin)</option>
                            <option value="ETH">ETH (ethereum)</option>
                            <option value="ADA">ADA (cardano)</option>
                        </select>
                        <span th:if="${#fields.hasErrors('convertTo')}" th:errors="*{convertTo}" class="text-error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-1">
                <h3>Step 2 - How much would you like to convert:</h3>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                <div class="card h-100">
                    <div class="card-body">
                        <p id="fromCoinAvailable"></p>
                        <input type="hidden" id="maxAmount">
                        <label class="mb-2" for="convertFromAmount">You will sell:</label>
                        <div class="input-group mb-2">
                            <span id="convertFromAmount-symbol" class="input-group-text">£</span>
                            <input id="convertFromAmount" th:field="*{convertFromAmount}" placeholder="£" value="0" step="0.0000001" min="0" type="number" class="form-control"
                                   aria-describedby="currency-symbol">
                        </div>
                        <p class="text-error invisible" id="convertFromAmountError">Can't exceed your available balance</p>
                        <span th:if="${#fields.hasErrors('convertFromAmount')}" th:errors="*{convertFromAmount}" class="text-error"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <p id="toCoinAvailable"></p>
                        <label class="mb-2" for="convertToAmount">You will receive</label>
                        <div class="input-group mb-2">
                            <span id="convertToAmount-symbol" class="input-group-text">£</span>
                            <input id="convertToAmount" step="0.000001" placeholder="£" type="number" class="form-control cursor-not-allowed"
                                   aria-describedby="currency-symbol" readonly th:field="*{estimatedExchange}">
                        </div>
                        <p class="text-error invisible" id="convertToAmountError">Can't exceed your available balance</p>
                        <span th:if="${#fields.hasErrors('estimatedExchange')}" th:errors="*{estimatedExchange}" class="text-error"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex d-sm-inline">
                <input type="submit" class="btn btn-primary w-50 mt-3 mx-auto">
            </div>
        </div>
    </form>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/cookies :: cookies"></div>

</body>
</html>